[submodule "extern/hitmap"]
	path = extern/hitmap
	url = https://repo.infor.uva.es/trasgo-2018/hitmap.git
	branch = master
[submodule "SyncRNG"]
	path = extern/SyncRNG
	url = https://github.com/GjjvdBurg/SyncRNG.git
[submodule "extern/pynq_api"]
	path = extern/pynq_api
	url = git@github.com:mesham/pynq_api.git
