#manticore specific configuration for experimentation
case $arch in
	cpu)
		SLURM_FLAGS="$SLURM_DEFAULT_FLAGS"
		transfers=("off" "on")
		host_aff=0
		n_threads=48 # for ref bench
		HOTSPOT_SIZES=(1000 2500 5000 7500 10000)
		MATPOW_SIZES=(512 1024 1536 2048 3072 4096)
		;;
	cuda | openclnv)
		SLURM_FLAGS="$SLURM_DEFAULT_FLAGS --gres=gpu:4"
		host_aff=1
		device=0   # for ref bench
		platform=0 # for ref bench
		HOTSPOT_SIZES=(1000 2500 5000 10000 15000)
		MATPOW_SIZES=(1024 1536 2048 4096 6144 8192)
		;;
	openclamd | hip)
		SLURM_FLAGS="$SLURM_DEFAULT_FLAGS --gres=gpu:4"
		host_aff=0
		device=0   # for ref bench
		platform=1 # for ref bench
		HOTSPOT_SIZES=(1000 2500 5000 10000 15000)
		MATPOW_SIZES=(1024 1536 2048 4096 6144 8192)
		;;
esac
