#medusa specific configuration for experimentation
case $arch in
	cpu)
		SLURM_FLAGS="$SLURM_DEFAULT_FLAGS"
		host_aff=0
		n_threads=16
		transfers=("on" "off")
		HOTSPOT_SIZES=(1000 2500 5000 7500 10000)
		MATPOW_SIZES=(512 768 1024 1536 2048 3072)
		;;
	cuda)
		SLURM_FLAGS="$SLURM_DEFAULT_FLAGS --gres=gpu:4"
		host_aff=1
		device=0
		HOTSPOT_SIZES=(1000 2500 5000 10000 15000)
		MATPOW_SIZES=(1024 1536 2048 4096 6144 8192)
		;;
	openclnv)
		SLURM_FLAGS="$SLURM_DEFAULT_FLAGS --gres=gpu:4"
		host_aff=1
		device=0
		platform=0
		HOTSPOT_SIZES=(1000 2500 5000 10000 15000)
		MATPOW_SIZES=(1024 1536 2048 4096 6144 8192)
		;;
	*)
		echo "WARNING: $arch is not compatible with machine $machine, skipping."
		continue
		;;
esac
